extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.row
				.col-md-6
					.box
						img.img-fluid(src="https://znews-photo-td.zadn.vn/w660/Uploaded/gtnvzv/2017_10_31/DSC_5126_copy.jpg", alt="")
						img.img1.img-fluid(src="http://static1.squarespace.com/static/5833236959cc689da988dd9b/58620b188419c2d595cb245d/58badfed9de4bbb44fa188e0/1488642382106/Be-Fit-London.png?format=1000w", alt="")
						img.img2.img-fluid(src="http://www.accountantsguild.org/wp-content/uploads/2015/09/Member-Discount-300x245.png", alt="")
						p.content 06 ngày luyện tập đẳng cấp cùng Huấn Luyện Viên thể hình...
						hr
						.price
							h3 399,000 đ
							i.fa.fa-comment.icon_talk(aria-hidden='true')
							p.number 73%
				.col-md-6
					.box
						img.img-fluid(src="https://znews-photo-td.zadn.vn/w660/Uploaded/gtnvzv/2017_10_31/DSC_5126_copy.jpg", alt="")
						img.img1.img-fluid(src="http://static1.squarespace.com/static/5833236959cc689da988dd9b/58620b188419c2d595cb245d/58badfed9de4bbb44fa188e0/1488642382106/Be-Fit-London.png?format=1000w", alt="")
						img.img2.img-fluid(src="http://www.accountantsguild.org/wp-content/uploads/2015/09/Member-Discount-300x245.png", alt="")
						p.content 06 ngày luyện tập đẳng cấp cùng Huấn Luyện Viên thể hình...
						hr
						.price
							h3 399,000 đ
							i.fa.fa-comment.icon_talk(aria-hidden='true')
							p.number 73%